<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>

    </style>

  </head>
  <body>
    <div>
      <div>Dear User,</div>
      <p>You have requested to reset your password. Click on the link below to proceed with the password reset.</p>
      <div>
        <p>Your  link :
          <a href={{url}}>Forget password link</a></p>
        <p>Please note that this link is only valid for the next 3 minutes. After that time, the link will expire, and you will need to request a new password reset.</p>
        <p>If you did not initiate this password reset request, please ignore this email.</p>
       <br />
        <div>Warm regards,</div>
         <br />
        <div>Ventura eLearning Global Team</div>
        <br />
      
      </div>
    </div>
  </body>
</html>