<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
    </style>

  </head>

  <body>
    <div>
      <div>{{text}}</div>
      <p>Congratulations on completing your AstroValues Alignment Assessment! We
        commend your dedication to self-exploration and the courage you've shown
        in delving deep into the realms of your inner archetypes.</p>
      <h3>Your Personalized Report</h3>
      <p>Exciting news! Your personalized AstroValues Alignment Assessment
        Report is now available. This in-depth report is a comprehensive
        reflection of your unique journey, exploring the light and shadow
        aspects of your archetypes and their manifestation across different
        levels of consciousness.</p>
      <h3>Download Your Report</h3>
      <p>Access your unique report using the link below. Please remember, this
        link is active for 48 hours, so download your report soon to embark on
        the next phase of your journey:</p>
      <a href={{url}} download="Your_Report.pdf">Download Report</a>

      <h3>Inside Your Report:</h3>
      <ol>
        <li><span style="font-weight: bold;">Detailed Insights: </span>Uncover
          the nuanced interpretations of your archetypal expressions in both
          light and shadow.</li>
        <li><span style="font-weight: bold;">Consciousness Levels: </span>:
          Delve into how these archetypes interact within Universal,
          Transcendent, and Soul-Level consciousness.</li>
        <li><span style="font-weight: bold;">Personal Growth Pathways:
          </span>Explore actionable strategies and reflections to weave these
          insights into your life, fostering personal growth and true alignment.</li>
      </ol>
      <div>
        <h3>Reflect and Integrate</h3>
        <p>Your AstroValues report is more than just an assessment; it's a
          transformative tool. We encourage you to immerse yourself in its
          insights. Reflect on how these discoveries resonate with your life's
          journey and envision how they can guide you toward a more authentic
          and fulfilling future.</p>

        <h3>Need Further Guidance?</h3>
        <p>Questions? Insights? We’re here for you. For further guidance,
          clarifications, or to discuss your report in more depth, reach out to
          us at
          <a
            href="support@riseandthrive.com.au."
          >support@riseandthrive.com.au.</a></p>
        <p>Thank you for embarking on this insightful journey with the
          AstroValues Alignment Assessment. The discoveries you’ve made are
          stepping stones to a more self-aware and enriched life.</p>
        <br />
        <div>Warm regards,</div>
         <br />
        <div>Catherine Plano and the Rise & Thrive Team</div>
        <br />
      </div>
    </div>
  </body>
  <script>
    function onclick(){ let result={{url}}; console.log(result); }
  </script>

</html>