<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>

    </style>

  </head>
  <body>
    <div>
      <div>{{text}}</div>
      <p>Welcome to a transformative exploration with the AstroValues Alignment
        Assessment!</p>
      <p>You are about to embark on a journey unlike any other, one that
        transcends traditional astrological understanding. Our unique assessment
        dives deep into the world of archetypes, shedding light on their
        manifestations in both their activated (light) and inactivated (shadow)
        forms, and exploring their dynamic interplay with different levels of
        consciousness.</p>
      <h4>Understanding Your Inner Archetypes: A Journey through Light and
        Shadow</h4>
      <p>Our assessment is not about predicting the future; it's an exploration
        of self. Like a cosmic mirror, it reflects the intricate dance of light
        and shadow within you, offering insights into how these aspects are
        expressed and influenced by your environment and levels of consciousness
        - Universal, Transcendent, and Soul-Level.</p>
      <ol>
        <li><span style="font-weight: bold;">Personalized Analysis: </span>Uncover how your archetypes, in their light and shadow forms, shape your personality, behaviours, and life choices.</li>
        <li><span style="font-weight: bold;">Levels of Consciousness: </span>Explore how these archetypes manifest differently across various levels of consciousness, each offering unique insights into your inner self.</li>
        <li><span style="font-weight: bold;">Actionable Guidance: 
          </span>Learn to harness this profound knowledge for personal growth, self-awareness, and a more authentic way of living.</li>
      </ol>
      <div>
        <h4>Begin Your Exploration</h4>

        <p>Your personalized assessment link :
          <a href={{url}}>Assessment link</a><br/>
        Embark on this insightful journey at your own pace and discover the
          multifaceted story of your astrological blueprint.</p>
        <h4>Reflect and Grow</h4>
        <p>Your journey through the AstroValues Alignment Assessment is more
          than an exercise in self-awareness; it's a step towards aligning your
          life with your deepest truths and values. We encourage you to reflect
          on your results and consider how they can inform and enrich your
          personal and professional life.</p>
        <p>Thank you for choosing to undertake this journey with us. We are
          excited to support you in uncovering the rich tapestry of your
          archetypal landscape and guiding you towards a life of greater harmony
          and self-realization.</p>
        <br />
        <div>Warm regards,</div>
         <br />
        <div>Ventura eLearning Global Team</div>
        <br />
        <p>P.S. Keep an eye out for your AstroValues Assessment Report once
          you've completed the assessment. Remember, it will only be available
          for download for 48 hours. Also, please check your SPAM folder to
          ensure you don't miss it!</p>
      </div>
    </div>
  </body>
</html>